<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="#">Better Off</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['login']">Sign Up/Sign In</a>
      </li>  
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['login']">Careers</a>
      </li>  
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['help']">Help & Support</a>
      </li>  
    </ul>
  </div>  
</nav>