
<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
    <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Username</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="username" placeholder="Enter unique username">
         
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Confirm Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Re-enter Password">
          </div>
        
        <div class="form-group">
            <label for="exampleInputEmail1">Email Address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Subscribe for newsletter!</label>
          </div>
        <div class="text-center">
            <div class="row">
                <div class="col-md-12">
                    <button type="button" class="btn btn-success px-md-5">Sign Up</button>
                </div>
            </div>
        </div>
        
      </form>
      <br>
      <br>
    </div>
</div>

